body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #e9ecef;
}

.user-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.merchant {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

h3 {
  color: #495057;
  margin: 20px 0 10px;
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border: 1px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  width: calc(50% - 10px);
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  margin-bottom: 15px;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

p {
  margin: 10px 0;
  color: #495057;
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
  border: 1px solid #dee2e6;
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) td {
  background-color: #e9ecef;
}

@media (max-width: 600px) {
  input[type="text"],
  input[type="number"],
  button {
    font-size: 14px;
    width: 100%;
    margin-right: 0;
  }

  button {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

div {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #dee2e6;
}
